In [27]:
#for reading csv files, converting data to dataframe for easier manipulaton
import pandas as pd

#to find words freq
from collections import Counter

import warnings
warnings.filterwarnings(action="ignore")

In [2]:
review_df=pd.read_csv("processed_data_file.csv")
review_df.head()

,score,at,text,proceessed_text
0,5,2024-07-03 11:35:04,this app is great and easy for all shopping an...,great easy thanks darza related person
1,1,2024-07-03 11:15:29,Ekta faltu app shob cheye baje refund er nam k...,ekta fault shob cheye baje refund er man chore...
2,4,2024-07-03 11:05:57,It is a very useful app having good experience...,it useful good experience plz add extra charg...
3,4,2024-07-03 11:02:58,its good,good
4,1,2024-07-03 10:52:59,Daraz top level Thief in Bangladesh.My gift ca...,radar top level thief Bangladeshi gift card 50...

In [3]:
from textblob import TextBlob

def getPolarity(tweet):
    return TextBlob(str(tweet)).sentiment.polarity

# Define function to obtain Sentiment category
def getSentimentTextBlob(polarity):
    if polarity < -0.3:
        return "Negative"
    elif polarity > 0.3:
        return "Positive"
    else:
        return "Neutral"


textblob_df = review_df.copy()

In [4]:
# Apply the functions to respective columns
textblob_df['Polarity']=textblob_df['proceessed_text'].apply(getPolarity)
textblob_df['Sentiment']=textblob_df['Polarity'].apply(getSentimentTextBlob)
textblob_df['Sentiment'].value_counts()

Sentiment
Positive    37636
Neutral     22469
Negative     4720
Name: count, dtype: int64

In [5]:
df_sorted = textblob_df.sort_values(by='score', ascending=True)
filtered_df = df_sorted[(df_sorted['Sentiment'] =="Neutral") & (textblob_df["Polarity"]>0.0) & (df_sorted["score"]==1)]
filtered_df.head()

,score,at,text,proceessed_text,Polarity,Sentiment
47148,1,2022-12-15 08:15:01,thanks for your,thanks,0.200000,Neutral
30093,1,2023-06-05 11:03:28,its my first order if i found there service as...,first find service well best give positive neg...,0.294318,Neutral
30070,1,2023-06-05 16:52:01,This is the end 4 daraz. Extremely high delive...,this end 4 radar extremely high delivery charg...,0.003333,Neutral
48625,1,2022-12-02 21:45:55,Daraz 1 rupee game is totally fraud dont parti...,radar 1 rupee game totally fraud dont particip...,0.060000,Neutral
11745,1,2023-11-13 11:10:27,There are send me a wasted Hot Water Bag.,there send waste hot water bag,0.025000,Neutral

In [6]:
count= textblob_df.groupby(["score","Sentiment"])[['text', 'proceessed_text']].count()
count

                  text  proceessed_text
score Sentiment
1     Negative    3753             3753
      Neutral     7946             7936
      Positive    2395             2395
2     Negative     321              321
      Neutral     1619             1619
      Positive     914              914
3     Negative     238              238
      Neutral     2159             2156
      Positive    2178             2178
4     Negative     130              130
      Neutral     2071             2067
      Positive    4209             4209
5     Negative     278              278
      Neutral     8674             8620
      Positive   27940            27940

In [7]:
#rule based sentiment analyzer
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sid = SentimentIntensityAnalyzer()
vader_df = review_df.copy()


def getPolarity_compound_vader(tweet):
    return sid.polarity_scores(str(tweet))["compound"]

def getPolarity_neg_vader(tweet):
    return sid.polarity_scores(str(tweet))["neg"]

def getPolarity_pos_vader(tweet):
    return sid.polarity_scores(str(tweet))["pos"]


# Define function to obtain Sentiment category
def getSentimentTextBlob_vader(polarity):
    if polarity < - 0.05:
        return "Negative"
    elif polarity > 0.05:
        return "Positive"
    else:
        return "Neutral"

In [8]:
vader_df['Compound']=vader_df['proceessed_text'].apply(getPolarity_compound_vader)
vader_df["pos"]=vader_df['proceessed_text'].apply(getPolarity_pos_vader)
vader_df["neg"]=vader_df['proceessed_text'].apply(getPolarity_neg_vader)
vader_df['Sentiment']=vader_df['Compound'].apply(getSentimentTextBlob_vader)
vader_df['Sentiment'].value_counts()

Sentiment
Positive    45296
Neutral      9915
Negative     9614
Name: count, dtype: int64

In [9]:
vader_df.head()

,score,at,text,proceessed_text,Compound,pos,neg,Sentiment
0,5,2024-07-03 11:35:04,this app is great and easy for all shopping an...,great easy thanks darza related person,0.8720,0.767,0.000,Positive
1,1,2024-07-03 11:15:29,Ekta faltu app shob cheye baje refund er nam k...,ekta fault shob cheye baje refund er man chore...,-0.3818,0.074,0.104,Negative
2,4,2024-07-03 11:05:57,It is a very useful app having good experience...,it useful good experience plz add extra charg...,0.7269,0.504,0.000,Positive
3,4,2024-07-03 11:02:58,its good,good,0.4404,1.000,0.000,Positive
4,1,2024-07-03 10:52:59,Daraz top level Thief in Bangladesh.My gift ca...,radar top level thief Bangladeshi gift card 50...,-0.6597,0.135,0.233,Negative

In [10]:
count_vader= vader_df.groupby(["score","Sentiment"])[['text', 'proceessed_text']].count()
count_vader

                  text  proceessed_text
score Sentiment
1     Negative    6933             6933
      Neutral     3321             3311
      Positive    3840             3840
2     Negative     760              760
      Neutral      774              774
      Positive    1320             1320
3     Negative     679              679
      Neutral     1058             1055
      Positive    2838             2838
4     Negative     447              447
      Neutral      871              867
      Positive    5092             5092
5     Negative     795              795
      Neutral     3891             3837
      Positive   32206            32206

In [11]:
sentiment_dict = sid.polarity_scores("sentence")
sentiment_dict

{'neg': 0.0, 'neu': 0.0, 'pos': 1.0, 'compound': 0.0772}

In [12]:
#custom query builder
custom_query_builder_df = vader_df.copy()
custom_query_builder_df.drop(columns=["text"],inplace=True)

#lets create a month and year data
custom_query_builder_df['at'] = pd.to_datetime(custom_query_builder_df['at'])
custom_query_builder_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64825 entries, 0 to 64824
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   score            64825 non-null  int64
 1   at               64825 non-null  datetime64[ns]
 2   proceessed_text  64754 non-null  object
 3   Compound         64825 non-null  float64
 4   pos              64825 non-null  float64
 5   neg              64825 non-null  float64
 6   Sentiment        64825 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(1), object(2)
memory usage: 3.5+ MB

In [125]:
star_count=[4,5]
start_date=2022  #default = min
end_date=2024    #default = max
duration_between= 6   #default =6

starwise_sentiment_analysis=""
duration_wise=""

most_important_five_factors=""

In [126]:
z=custom_query_builder_df[(custom_query_builder_df["score"].isin(star_count)) & (custom_query_builder_df["at"].dt.year>=start_date) & (custom_query_builder_df["at"].dt.year<=end_date)].assign(year=custom_query_builder_df["at"].dt.year,duration=custom_query_builder_df["at"].apply(lambda date: (date.month - 1) // duration_between + 1)).groupby(["year","duration","score","Sentiment"])[["proceessed_text"]].count()
z=z.rename(columns={"proceessed_text": "count"})
##run this

json_table = z.to_json(orient ='index') 
print(json_table)

{"(2022, 2, 4, 'Negative')":{"count":130},"(2022, 2, 4, 'Neutral')":{"count":277},"(2022, 2, 4, 'Positive')":{"count":1553},"(2022, 2, 5, 'Negative')":{"count":232},"(2022, 2, 5, 'Neutral')":{"count":1229},"(2022, 2, 5, 'Positive')":{"count":10183},"(2023, 1, 4, 'Negative')":{"count":133},"(2023, 1, 4, 'Neutral')":{"count":239},"(2023, 1, 4, 'Positive')":{"count":1458},"(2023, 1, 5, 'Negative')":{"count":212},"(2023, 1, 5, 'Neutral')":{"count":1115},"(2023, 1, 5, 'Positive')":{"count":9196},"(2023, 2, 4, 'Negative')":{"count":137},"(2023, 2, 4, 'Neutral')":{"count":292},"(2023, 2, 4, 'Positive')":{"count":1740},"(2023, 2, 5, 'Negative')":{"count":251},"(2023, 2, 5, 'Neutral')":{"count":1223},"(2023, 2, 5, 'Positive')":{"count":10698},"(2024, 1, 4, 'Negative')":{"count":46},"(2024, 1, 4, 'Neutral')":{"count":59},"(2024, 1, 4, 'Positive')":{"count":333},"(2024, 1, 5, 'Negative')":{"count":100},"(2024, 1, 5, 'Neutral')":{"count":268},"(2024, 1, 5, 'Positive')":{"count":2093},"(2024, 2, 4, 'Negative')":{"count":1},"(2024, 2, 4, 'Positive')":{"count":8},"(2024, 2, 5, 'Neutral')":{"count":2},"(2024, 2, 5, 'Positive')":{"count":36}}

In [127]:
import json
nested_data = {}
json_table_key=json.loads(json_table)
# Process each key-value pair
for key, value in json_table_key.items():
    # Parse the key into components
    year, month, duration, sentiment = eval(key)
    
    # Ensure the structure exists
    if year not in nested_data:
        nested_data[year] = {}
    if month not in nested_data[year]:
        nested_data[year][month] = {}
    if duration not in nested_data[year][month]:
        nested_data[year][month][duration] = {}
    
    # Add the sentiment data
    nested_data[year][month][duration][sentiment] = value
print(nested_data)

{2022: {2: {4: {'Negative': {'count': 130}, 'Neutral': {'count': 277}, 'Positive': {'count': 1553}}, 5: {'Negative': {'count': 232}, 'Neutral': {'count': 1229}, 'Positive': {'count': 10183}}}}, 2023: {1: {4: {'Negative': {'count': 133}, 'Neutral': {'count': 239}, 'Positive': {'count': 1458}}, 5: {'Negative': {'count': 212}, 'Neutral': {'count': 1115}, 'Positive': {'count': 9196}}}, 2: {4: {'Negative': {'count': 137}, 'Neutral': {'count': 292}, 'Positive': {'count': 1740}}, 5: {'Negative': {'count': 251}, 'Neutral': {'count': 1223}, 'Positive': {'count': 10698}}}}, 2024: {1: {4: {'Negative': {'count': 46}, 'Neutral': {'count': 59}, 'Positive': {'count': 333}}, 5: {'Negative': {'count': 100}, 'Neutral': {'count': 268}, 'Positive': {'count': 2093}}}, 2: {4: {'Negative': {'count': 1}, 'Positive': {'count': 8}}, 5: {'Neutral': {'count': 2}, 'Positive': {'count': 36}}}}}

In [128]:
# Convert to JSON string for better readability
with open("output_json_format.json", "w+") as outfile:
    json.dump(nested_data, outfile)
    outfile.close()

In [129]:
# most important 5 factors 
groups=custom_query_builder_df[(custom_query_builder_df["score"].isin(star_count)) & (custom_query_builder_df["at"].dt.year>=start_date) & (custom_query_builder_df["at"].dt.year<=end_date)].assign(year=custom_query_builder_df["at"].dt.year,duration=custom_query_builder_df["at"].apply(lambda date: (date.month - 1) // duration_between + 1)).groupby(["year","duration","score","Sentiment"])
    
zz = groups[["proceessed_text"]].count().reset_index()
zz = zz.rename(columns={"proceessed_text": "count"})

# Find the most important words for each group
important_words_per_group = {}

for name, group in groups:
    combined_text = "".join(str(group["proceessed_text"]))
    word_freq = Counter(combined_text.split())
    # top_freq_words = [word for word, freq in word_freq.most_common(2)]
    # important_words_per_group[name] = top_freq_words

    top_freq_words = {word.lower(): freq for word, freq in word_freq.most_common(3)}
    important_words_per_group[name] = top_freq_words

# Add the important words to the zz DataFrame
zz["important_words"] = zz.apply(lambda row: important_words_per_group[(row["year"], row["duration"], row["score"], row["Sentiment"])], axis=1)

In [130]:
json_table_words_str = zz.to_json(orient ='index') 
print("", json_table_words_str, "\n")
type(json_table_words_str)

 {"0":{"year":2022,"duration":2,"score":4,"Sentiment":"Negative","count":130,"important_words":{"seller":3,"i":3,"scam":2}},"1":{"year":2022,"duration":2,"score":4,"Sentiment":"Neutral","count":277,"important_words":{"delivery":3,"i":3,"charge":2}},"2":{"year":2022,"duration":2,"score":4,"Sentiment":"Positive","count":1553,"important_words":{"good":5,"i":2,"...":2}},"3":{"year":2022,"duration":2,"score":5,"Sentiment":"Negative","count":232,"important_words":{"bad":4,"good":4,"order":2}},"4":{"year":2022,"duration":2,"score":5,"Sentiment":"Neutral","count":1229,"important_words":{"thing":3,"think":2,"every":2}},"5":{"year":2022,"duration":2,"score":5,"Sentiment":"Positive","count":10183,"important_words":{"good":4,"radar":4,"app":2}},"6":{"year":2023,"duration":1,"score":4,"Sentiment":"Negative","count":133,"important_words":{"seller":4,"i":4,"somite":3}},"7":{"year":2023,"duration":1,"score":4,"Sentiment":"Neutral","count":239,"important_words":{"i":3,"delivery":2,"27582":1}},"8":{"year":2023,"duration":1,"score":4,"Sentiment":"Positive","count":1458,"important_words":{"good":5,"thing":2,"i":2}},"9":{"year":2023,"duration":1,"score":5,"Sentiment":"Negative","count":212,"important_words":{"well":2,"bad":2,"...":2}},"10":{"year":2023,"duration":1,"score":5,"Sentiment":"Neutral","count":1115,"important_words":{"1":2,"27558":1,"awsom":1}},"11":{"year":2023,"duration":1,"score":5,"Sentiment":"Positive","count":9196,"important_words":{"good":5,"\u2764\ufe0f":2,"very":2}},"12":{"year":2023,"duration":2,"score":4,"Sentiment":"Negative","count":137,"important_words":{"scam":3,"...":3,"bad":3}},"13":{"year":2023,"duration":2,"score":4,"Sentiment":"Neutral","count":292,"important_words":{"i":4,"bast":2,"...":2}},"14":{"year":2023,"duration":2,"score":4,"Sentiment":"Positive","count":1740,"important_words":{"good":3,"useful":3,"app":3}},"15":{"year":2023,"duration":2,"score":5,"Sentiment":"Negative","count":251,"important_words":{"bad":4,"good":2,"shop":2}},"16":{"year":2023,"duration":2,"score":5,"Sentiment":"Neutral","count":1223,"important_words":{"ti":2,"usefull":2,"\u2764\ufe0f":2}},"17":{"year":2023,"duration":2,"score":5,"Sentiment":"Positive","count":10698,"important_words":{"good":4,"use":3,"...":3}},"18":{"year":2024,"duration":1,"score":4,"Sentiment":"Negative","count":46,"important_words":{"i":20,"good":12,"bad":12}},"19":{"year":2024,"duration":1,"score":4,"Sentiment":"Neutral","count":59,"important_words":{"i":13,"delivery":9,"this":8}},"20":{"year":2024,"duration":1,"score":4,"Sentiment":"Positive","count":333,"important_words":{"good":3,"it":3,"i":3}},"21":{"year":2024,"duration":1,"score":5,"Sentiment":"Negative","count":100,"important_words":{"...":3,"bad":3,"131":1}},"22":{"year":2024,"duration":1,"score":5,"Sentiment":"Neutral","count":268,"important_words":{"i":3,"know":2,"everyone":2}},"23":{"year":2024,"duration":1,"score":5,"Sentiment":"Positive","count":2093,"important_words":{"good":7,"...":3,"very":2}},"24":{"year":2024,"duration":2,"score":4,"Sentiment":"Negative","count":1,"important_words":{"90":1,"make":1,"application":1}},"25":{"year":2024,"duration":2,"score":4,"Sentiment":"Positive","count":8,"important_words":{"good":3,"it":2,"useful":2}},"26":{"year":2024,"duration":2,"score":5,"Sentiment":"Neutral","count":2,"important_words":{"update":2,"20":1,"i":1}},"27":{"year":2024,"duration":2,"score":5,"Sentiment":"Positive","count":36,"important_words":{"good":17,"\u2764\ufe0f":7,"best":7}}}

str

In [131]:
# Initialize the nested dictionary
nested_data_words = {}
json_table_words=json.loads(json_table_words_str)
# Process each item in the input data
for key, value in json_table_words.items():
    year = value["year"]
    duration = value["duration"]
    score = value["score"]
    sentiment = value["Sentiment"]
    count = value["count"]
    important_words = value["important_words"]

    # Ensure the structure exists
    if year not in nested_data_words:
        nested_data_words[year] = {}
    if duration not in nested_data_words[year]:
        nested_data_words[year][duration] = {}
    if score not in nested_data_words[year][duration]:
        nested_data_words[year][duration][score] = {}
    if sentiment not in nested_data_words[year][duration][score]:
        nested_data_words[year][duration][score][sentiment] = {}
    
    # Add the count and important words
    nested_data_words[year][duration][score][sentiment] = {
        "count": count,
        "important_words": important_words
    }

In [132]:
# Convert to JSON string for better readability
json_output_words = json.dumps(nested_data_words)
with open("output_json_format_words.json", "w+") as outfile_words:
    json.dump(nested_data_words, outfile_words)
    outfile_words.close()

In [ ]:
# code finished

In [ ]:
filter_words=['parcel', 'delivery', 'service', 'refund', 'charge', 'thief', 'experience', 'gift', 'quality', 'great', 'best', 'update', 'bad', 'customer', 'issue', 'seller', 'cheap', 'price', 'satisfy', 'shop', 'problem', 'money', 'pay', 'guy', 'address', 'shipping', 'voucher', 'contact', 'sale', 'area', 'long', 'website', 'expensive', 'pickup', 'disappointed', 'return', 'frustrating', 'courier', 'idle', 'unheard', 'deliver', 'login', 'backwash', 'notification', 'promotion', 'amount', 'check', 'payment', 'error', 'method', 'help']